.BaseStory-title {
  padding: 0 20px 0 20px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}


.BaseStory-content {
  height: 100%;
  width: 800px;
  padding: 5px;
}

.BaseStory-body {
  max-height: 829px;
  overflow: auto;
}

.mylink {
  text-decoration: underline;
}

.nolink {
  text-decoration: none;
}

.BaseStory-tx {
  padding: 10px 15px 10px 15px;
}

.BaseStory-h1 {
  padding: 15px 15px 0 15px;
  display: block;
  font-size: 1.17em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;

}

.BaseStory-imgContainer {
  /*width: 50%;*/
  padding: 15px;
}

.BaseStory-img {
  display: block;
  /*width: 100%;*/
  width: auto;
  height: 290px;
  /*height: auto;*/
}

.BaseStory-cover {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.PhotoStory-row {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-evenly;
}

.PhotoStory-imgContainer {
}

.PhotoStory-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: auto;
}
