.BaseStory-title {
  padding: 30px 10px 10px 30px;
  display: inline-block;
  vertical-align: middle;
  /*background-color: blue;*/
  width: 40%;
}

.BaseStory-body {
}

.BaseStory-tx {
  padding: 10px 15px 10px 15px;
}

.BaseStory-imgContainer {
  /*width: 50%;*/
  padding: 10px;
}

.BaseStory-img {
  display: block;
  /*width: 100%;*/
  width: auto;
  height: 290px;
  /*height: auto;*/
}

.BaseStory-cover {
  /*background-color: red;*/
  /*height: 300px;*/
  display: flex;
  justify-content: space-between;
  width: 100%;
}
